
body{
    background-image: url("../images/hotel1.jpg");
    background-position: center;
    background-size: auto;
}

#form {
    background-color: #000;
    height :400px;
    width :800px;
    margin :auto;
    margin-top:100px ;
    opacity: 0.7 ;

}
#first-group{
    border : 2px solid rgba(134, 245, 97, 0) ;
    width :400px;
    margin-top : 38px;
    
}
#content{
    border : 1px solid #fff;
    margin : 10;
}