
body{
    background-color:#FFEECA ;
}
div.content{
    height: 150px;
    width: 150px;
    border :5px solid#4faeed;
    float :left ;
    margin :20px ;
}

div#hotel2{
    background-image: ;

}

div#hotel3{
    background-image: ;

}

div#hotel4{
    background-image: ;

}
div#hotel5{
    background-image: ;

}