
body{
    
    background-position: center;
    background-size: auto;
}

#form {
    background-color: rgb(19, 122, 232);
    height :400px;
    width :800px;
    margin :auto;
    margin-top:100px ;
    opacity: 0.7 ;

}
#first-group{
    border : 2px solid rgba(134, 245, 97, 0) ;
    width :400px;
    margin-top : 38px;
    
}
#content{
    border : 1px solid #fff;
    margin : 10px;
    margin-left: 8px;
    padding : 5px;

}
#content #input-group {
    border : none;
    outline : none;
    background : transparent;
    margin-left: 8px;
   
}

